/* Products  styles */
/* footer  styles */
/*  end footer styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    sans-serif;
  font-weight: 300;
  color: #888888;
  background-color: #ffffff;
}
.btn {
  max-width: 260px;
  width: 100%;
  height: 39px;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background: #ffffff;
  color: #888888;
  &:hover {
    background: #dcdcdc;
  }
}
.form-input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  font-size: 12px;
}
.content {
  max-width: 1000px;
  width: 70%;
  margin: 0 auto;
}
.container {
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* header  styles */
.header {
  width: 100%;
  padding-top: 69px;
  height: 100%;
  background: linear-gradient(184deg, #707070 75%, #ffffff 50%);
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      align-self: flex-start;
    }
    h1 {
      font-size: 40px;
      height: 48px;
      color: #ffffff;
      align-self: flex-start;
    }
    p {
      font-size: 14px;
      margin-top: 24px;
      color: #ffffff;
      align-self: flex-start;
    }
    span {
      color: #ffffff;
      align-self: center;
    }
    .header-nav {
      margin: 0 auto 129px;
      margin-top: 50px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      display: flex;
      li {
        width: 160px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
      }
    }
  }
}

/* Subscribe  styles*/
.subscribe-newsletter {
  .content {
    display: flex;
    article {
      color: #888888;
      width: 100%;
      max-width: 520px;
      padding: 0 19px;
      float: left;
      display: block;
      p {
        font-size: 12px;
      }
      .accordion-title {
        .accordion-button {
          display: none;
        }
      }
    }
    .accordion-title {
      article {
        h1 {
          text-align: left;
          font-size: 20px;
          letter-spacing: 0px;
          font-weight: normal;
          padding-bottom: 30px;
        }
      }
    }
    form {
      width: 100%;
      float: left;
      max-width: 340px;
      padding: 0 20px;
      label {
        font-size: 12px;
        margin-right: 40px;
      }
      input {
        width: 100%;
        height: 30px;
        margin: 7px 0;
        padding: 0 10px;
      }
      .gender-inputs {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        .gender {
          display: flex;
          align-items: center;
          input {
            width: 14px;
            margin-right: 5px;
          }
        }
      }
      button {
        max-width: 340px;
      }
    }
  }
}
.separation {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    min-width: max-content;
    color: #888888;
    font-size: 18px;
    padding: 0 17px;
  }
}
.separation-bar {
  width: 100%;
  height: 1px;
  background-color: #888888;
}

/*  Product  styles */
.products-selection {
  .content {
    margin: 79px auto;
    .input {
      display: flex;
      justify-content: center;
      margin-top: 39px;
      .product-list-btn {
        margin-top: 63px;
      }
    }
    .products {
      display: grid;
      grid-template-columns: repeat(1, 100%);
      grid-gap: 41px;
      width: 100%;
      align-items: center;
      justify-content: center;
      align-content: center;
      margin-top: 23px;
      .product {
        display: flex;
        width: 100%;
        align-items: center;
        height: 160px;
        justify-content: space-between;
        .product-image {
          width: 50%;
          height: 100%;
          object-fit: contain;
        }
        .product-block {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          padding-left: 23px;
          span {
            margin-top: 10px;
          }
          .product-name {
            font-size: 14px;
          }
          .product-description {
            display: block;
            font-size: 12px;
          }
          .product-price {
            font-size: 16px;
            font-weight: 700;
          }
          .product-oldprice {
            font-size: 12px;
          }
          .product-button {
            max-width: 200px;
            height: 30px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

/* Share newsletter styles */
.share-newsletter {
  .content {
    margin: 90px auto 0;
    p {
      text-align: center;
      font-size: 12px;
      letter-spacing: 0px;
      color: #888888;
      margin-top: 44px;
      margin-bottom: 39px;
    }
    .newsletter-form {
      .email-inputs {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .input {
        width: 100%;
        margin: 0 2rem;
        max-width: 34rem;
        label {
          font-size: 12px;
          color: #888888;
        }
        input {
          display: flex;
        }
      }
      button {
        margin-top: 61px;
      }
    }
  }
}
.newsletter-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-obs {
  font-size: 12px;
}
.footer {
  width: 100%;
  padding: 150px 0 90px 0;
  background: linear-gradient(355deg, #707070 60%, #ffffff 40%);
  .content {
    p {
      color: #ffffff;
      text-align: center;
      font-size: 12px;
    }
  }
}
@media (max-width: 800px) {
  .content {
    width: 90%;
  }
  .subscribe-newsletter {
    .content {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      article {
        max-width: 100%;
        margin-bottom: 30px;
        .accordion-title {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          .accordion-button {
            width: 18px;
            height: 9px;
            display: contents;
            color: #888888;
            cursor: pointer;
          }
        }
      }
      form {
        max-width: 100%;
        button {
          max-width: 100%;
        }
      }
    }
  }
}
@media (min-width: 650px) {
  .share-newsletter {
    .content {
      .newsletter-form {
        .email-inputs {
          flex-direction: row;
        }
      }
    }
  }
  .header {
    .content {
      h3 {
        align-self: center;
      }
      h1 {
        align-self: center;
      }
      p {
        align-self: center;
      }
    }
  }
  .subscribe-newsletter {
    .content {
      article {
        p {
          .panel {
            display: none;
            overflow: hidden;
          }
        }
      }
    }
  }
}
@media (min-width: 1000px) {
  .products-selection {
    .content {
      .products {
        .product {
          height: max-content;
          flex-direction: column;
          justify-content: flex-start;
        }
        grid-template-columns: repeat(4, 210px);
      }
    }
  }
}
@media (min-width: 700px) {
  .products-selection {
    .content {
      .products {
        .product {
          .product-image {
            width: 70%;
          }
        }
      }
      .input {
        .product-list-btn {
          margin-top: 53px;
        }
      }
    }
  }
}
